<div>
    <div id="logo-container">Quiz Battle</div>
    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" style="font-size: 30px;">Play Now</button>
            <button mat-raised-button color="accent" mat-raised-button (click)="openDialog()" style="font-size: 30px;">Join Room</button>
            <button mat-raised-button color="warn" mat-raised-button (click)="openDialogCreate()" style="font-size: 30px;">Create Room</button>
        </div>
    </section>

    <style>

    </style>
</div>

<audio autoplay loop>
    <source src="../../../../assets/Audio/kahoot-lobby-music.mp3" type="audio/ogg">
    </audio>