        section {
            display: table;
        }
        
        .example-button-row {
            display: grid;
            width: 240px;
            height: 240px;
            font-size: 30px;
        }
        
        .example-button-row .mat-button-base {
            margin: 8px 8px 8px 0;
        }
        
        .example-flex-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .example-button-container {
            display: flex;
            justify-content: center;
            width: 120px;
        }
        
        .example-spacer {
            flex: 1 1 auto;
        }
        
        #logo-container {
            padding-top: 4.25rem;
            padding-bottom: 1.5rem;
            color: #3f51b5;
            font-size: 100px;
            font-family: "Courier New", Courier, monospace;
            font-weight: bold;
            margin: 200px;
            margin-bottom: 50px;
        }
        
        body {
            animation: change 100s infinite;
        }
        
        @keyframes change {
            0% {
                background-color: rgb(225, 178, 172);
            }
            5% {
                background-color: rgb(65, 196, 222);
            }
            10% {
                background-color: rgb(140, 199, 63);
            }
            15% {
                background-color: rgb(243, 211, 51);
            }
            20% {
                background-color: rgb(247, 142, 86);
            }
            25% {
                background-color: rgb(255, 134, 178);
            }
            30% {
                background-color: rgb(106, 90, 205);
            }
            35% {
                background-color: rgb(80, 0, 34);
            }
            40% {
                background-color: rgb(78, 109, 75);
            }
            45% {
                background-color: rgb(236, 109, 75);
            }
            50% {
                background-color: rgb(236, 109, 122);
            }
            55% {
                background-color: rgb(35, 255, 147);
            }
            60% {
                background-color: rgb(60, 60, 60);
            }
            65% {
                background-color: rgb(179, 147, 90);
            }
            70% {
                background-color: rgb(10, 150, 124);
            }
            75% {
                background-color: rgb(150, 66, 95);
            }
            80% {
                background-color: rgb(60, 179, 113);
            }
            85% {
                background-color: rgb(89, 143, 242);
            }
            90% {
                background-color: rgb(89, 143, 140);
            }
            95% {
                background-color: rgb(89, 143, 41);
            }
            100% {
                background-color: rgb(152, 109, 111);
            }
        }
        
        .he {
            height: 100%;
        }