        section {
            display: table;
        }
        
        .example-button-row {
            display: grid;
            width: 240px;
            height: 240px;
            font-size: 30px;
        }
        
        .example-button-row .mat-button-base {
            margin: 8px 8px 8px 0;
        }
        
        .example-flex-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .example-button-container {
            display: flex;
            justify-content: center;
            width: 120px;
        }
        
        .example-spacer {
            flex: 1 1 auto;
        }
        
        #logo-container {
            padding-top: 4.25rem;
            padding-bottom: 1.5rem;
            color: #3f51b5;
            font-size: 100px;
            font-family: "Courier New", Courier, monospace;
            font-weight: bold;
        }
        
        body .body {
            animation: change 10s infinite;
        }
        
        @keyframes change {
            0% {
                background-color: rgb(225, 178, 172);
            }
            25% {
                background-color: rgb(65, 196, 222);
            }
            50% {
                background-color: rgb(140, 199, 63);
            }
            75% {
                background-color: rgb(243, 211, 51);
            }
            100% {
                background-color: rgb(247, 142, 86);
            }
        }