/* You can add global styles to this file, and also import other style files */

// body{
//     background-color: blueviolet;
//   }
<<<<<<< HEAD
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

>>>>>>> a5dd214e468a62b881964b07b30c9f2b8ecc1ac7
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  text-align: -webkit-center;
}

body {
  animation: change 10s infinite;
}

@keyframes change {
<<<<<<< HEAD
    0% {
        background-color: aquamarine;
    }
    25% {
        background-color: rgb(65, 196, 222);
    }
    50% {
        background-color: rgb(140, 199, 63);
    }
    75% {
        background-color: rgb(243, 211, 51);
    }
    100% {
        background-color: rgb(247, 142, 86);
    }
=======
  0% {
    background-color: aquamarine;
  }
  25% {
    background-color: rgb(65, 196, 222);
  }
  50% {
    background-color: rgb(140, 199, 63);
  }
  75% {
    background-color: rgb(243, 211, 51);
  }
  100% {
    background-color: rgb(247, 142, 86);
  }
>>>>>>> a5dd214e468a62b881964b07b30c9f2b8ecc1ac7
}
