.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 50px 8px 8px 139vh;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}




.score{
  border: 1.8px solid #BFBFBF;
  box-shadow: 8px 8px 4px #aaaaaa;
  background-color: white;
}

mat-progress-bar{
  height: 25px;
  width: 1000px;
  border-radius: 10px;
}

 
.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
  width: 50vh;
  height: 10vh;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.example-button-row{
  display: flex;
  padding-top: 50px;
  margin:0 auto;
  text-align:center;
}