<div class="score">
    <p><img src="../../../assets/number-1.png" alt="no.1 picture" height="25px" width="25px"> player 1</p>
    <mat-progress-bar mode="determinate" value="7"></mat-progress-bar>
    <p><img src="../../../assets/number-2.png" alt="no.1 picture" height="25px" width="25px"> player 2</p>
    <mat-progress-bar mode="determinate" value="8"></mat-progress-bar>
    <p><img src="../../../assets/number-3.png" alt="no.1 picture" height="25px" width="25px"> player 3</p>
    <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
    <p><img src="../../../assets/number-4.png" alt="no.1 picture" height="25px" width="25px"> player 4</p>
    <mat-progress-bar mode="determinate" value="11"></mat-progress-bar>
    <p><img src="../../../assets/number-5.png" alt="no.1 picture" height="25px" width="25px"> player 5</p>
    <mat-progress-bar mode="determinate" value="12"></mat-progress-bar>
    <p><img src="../../../assets/number-6.png" alt="no.1 picture" height="25px" width="25px"> player 6</p>
    <mat-progress-bar mode="determinate" value="13"></mat-progress-bar>
    <p><img src="../../../assets/number-7.png" alt="no.1 picture" height="25px" width="25px"> player 7</p>
    <mat-progress-bar mode="determinate" value="3"></mat-progress-bar>
    <p><img src="../../../assets/number-8.png" alt="no.1 picture" height="25px" width="25px"> player 8</p>
    <mat-progress-bar mode="determinate" value="2"></mat-progress-bar>
    <p><img src="../../../assets/number-9.png" alt="no.1 picture" height="25px" width="25px"> player 9</p>
    <mat-progress-bar mode="determinate" value="1"></mat-progress-bar>
  </div>



  
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>
  </div>
