.button {
    padding: 8px 26px;
    display: flex;
    flex-wrap: wrap;
    min-height: 60px;
    min-width: 204px;
    align-items: center;
    margin-bottom: -24px;
}

mat-form-field-wrapper {
    padding: 0;
    margin: 0px;
}

.game-input {
    text-align: center;
}