#room-id {
  display: flex;
  justify-content: space-between;
}

button {
  color: rgb(241, 241, 240);
  width: 200px;
  height: 50px;
  background-color: #3f51b5;
  font-size: 30px;
}

#key {
  display: flex;
  justify-content: center;
}
mat-card {
  width: 200px;
  background-color: #115b8a;
  color: white;
  font-size: 40px;
  font-weight: bold;
}
#player {
  margin-top: 400px;
  text-align: center;
}

#players {
  width: 200px;
}

table {
  display: grid;
  justify-content: center;
  margin-top: 100px;
  border-collapse: collapse;
  width: 100%;
}

h1 {
  color: #3f51b5;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  font-weight: bold;
}

#body {
  width: 100%;
  height: 100%;
}

#back {
  margin-top: 10px;
  margin-left: 10px;
}
#start {
  margin-top: 10px;
  margin-right: 10px;
}
