<div id="body">
    <div id="room-id">
        <button id="back" mat-raised-button>Back</button>
        <h1>Room ID</h1>
        <button id="start" mat-raised-button>Start</button>
    </div>
    <div id="add">
        <button mat-raised-button style="margin-top: 100px">Add</button>
        <button mat-raised-button style="margin-top: 100px">Rm</button>
    </div>
    <div id="player" style="height: 400px">
        <div id="key">
            <button mat-raised-button value="Key">Key</button>
        </div>
        <div class="parent white">
            <app-playerlist></app-playerlist>
            <!-- <table>
        <tr>
          <td>
            <button mat-raised-button value="text"></button>
          </td>
          <td><button mat-raised-button value="text">P2</button></td>
          <td><button mat-raised-button value="text">P3</button></td>
          <td><button mat-raised-button value="text">P4</button></td>
          <td><button mat-raised-button value="text">P5</button></td>
        </tr>
        <br />
        <tr>
          <td><button mat-raised-button value="text">P6</button></td>
          <td><button mat-raised-button value="text">P7</button></td>
          <td><button mat-raised-button value="text">P8</button></td>
          <td><button mat-raised-button value="text">P9</button></td>
          <td><button mat-raised-button value="text">P10</button></td>
        </tr>
        <br />
        <tr>
          <td><button mat-raised-button value="text">P11</button></td>
          <td><button mat-raised-button value="text">P12</button></td>
          <td><button mat-raised-button value="text">P13</button></td>
          <td><button mat-raised-button value="text">P14</button></td>
          <td><button mat-raised-button value="text">P15</button></td>
        </tr>
        <br />
        <tr>
          <td><button mat-raised-button value="text">P16</button></td>
          <td><button mat-raised-button value="text">P17</button></td>
          <td><button mat-raised-button value="text">P18</button></td>
          <td><button mat-raised-button value="text">P19</button></td>
          <td><button mat-raised-button value="text">P20</button></td>
        </tr>
      </table> -->
        </div>
    </div>
</div>

<audio autoplay loop>
  <source src="../../../../assets/Audio/kahoot-full-original-soundtrack-as-of-2018.mp3" type="audio/ogg">
  </audio>