<div id="body">
  <div id="room-id">
    <button
      [routerLink]="['/menuhome']"
      routerLinkActive="router-link-active"
      id="back"
      mat-raised-button
    >
      Back
    </button>
    <h1>Room ID</h1>
    <button
      [routerLink]="['/mainplay']"
      routerLinkActive="router-link-active"
      id="start"
      mat-raised-button
    >
      Start
    </button>
  </div>

  <div id="player" style="height: 400px">
    <div id="key">
      <mat-card>{{ owner.user.displayName }}</mat-card>
    </div>
    <div class="parent white">
      <app-playerlist></app-playerlist>
    </div>
  </div>
</div>

<audio autoplay loop>
  <source
    src="../../../../assets/Audio/kahoot-full-original-soundtrack-as-of-2018.mp3"
    type="audio/ogg"
  />
</audio>
