<h1 mat-dialog-title><b>Create Room</b></h1>
<div mat-dialog-content style="font-size: 15px;">
    <!-- <mat-form-field>
        Player: <input matInput>
        <mat-form-field appearance="fill">
            Category: <select matNativeControl required style="width: 177px; height: 21px;"> 
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </mat-form-field>
    </mat-form-field> -->
    <mat-form-field appearance="fill">
        <mat-label>Select number player</mat-label>
        <mat-select style="font-size: 15px;" (valueChange)="changePlayer($event)">
            <mat-option>None</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="15">15</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill1">
        <mat-label>Select category</mat-label>
        <mat-select  (valueChange)="changeCate($event)">
            <mat-option>None</mat-option>
            <mat-option value="Animals">Animals</mat-option>
            <mat-option value="Celebrities">Celebrities</mat-option>
            <mat-option value="Geography">Geography</mat-option>
            <mat-option value="History">History</mat-option>
            <mat-option value="Politics">Politics</mat-option>
            <mat-option value="Sports">Sports</mat-option>
            <mat-option value="Vehicles">Vehicles</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions class="button">
    <button (click) = "createRoom()" [mat-dialog-close]="true" routerLinkActive="router-link-active" mat-button cdkFocusInitial>Create</button>
</div>