<h1 mat-dialog-title><b>Create Room</b></h1>
<div mat-dialog-content style="font-size: 15px;">
    <!-- <mat-form-field>
        Player: <input matInput>
        <mat-form-field appearance="fill">
            Category: <select matNativeControl required style="width: 177px; height: 21px;"> 
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </mat-form-field>
    </mat-form-field> -->
    <mat-form-field appearance="fill">
        <mat-label>Select number player</mat-label>
        <mat-select style="font-size: 15px;">
            <mat-option>None</mat-option>
            <mat-option value="option1">5</mat-option>
            <mat-option value="option2">10</mat-option>
            <mat-option value="option3">15</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Select category</mat-label>
        <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="option1">Animals</mat-option>
            <mat-option value="option2">Celebrities</mat-option>
            <mat-option value="option3">Geography</mat-option>
            <mat-option value="option4">History</mat-option>
            <mat-option value="option5">Politics</mat-option>
            <mat-option value="option6">Sports</mat-option>
            <mat-option value="option7">Vehicles</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions class="button">
    <button [routerLink]="['/room']" [mat-dialog-close]="true" routerLinkActive="router-link-active" mat-button cdkFocusInitial>Create</button>
</div>