<div class="card-container">
    <div class="card card-small a" tabindex="0" [routerLink]="['/login']" routerLinkActive="router-link-active">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>

        <span>Login scene (Duy)</span>
    </div>

    <div class="card card-small" tabindex="0" [routerLink]="['/room']">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>

        <span>Room scene (Duy)</span>
    </div>

    <div class="card card-small" tabindex="0" [routerLink]="['/mainplay']">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>

        <span>Play scene (Long)</span>
    </div>

    <div class="card card-small" tabindex="0" [routerLink]="['/ranktable']">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>

        <span>Rank scene (Long)</span>
    </div>

    <div class="card card-small" tabindex="0" [routerLink]="['/menuhome']">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>

        <span>Menu scene (Quang)</span>
    </div>

</div>