.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1em;
    letter-spacing: -1px;
    color: white;
    border-radius: 10px;
    border: solid;
    width: 100px;
    position:absolute;
    margin-left: 90%;
    margin-top: 38px;
  }
  .timer span {
    font-size: 2em;
    margin: 10px 3px 0 15px;
  }